*{
  border: solid 2px black;
  overflow: auto;
  margin: 0px;
  boxsizing: border-box;
}


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(219, 58, 30);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin: 15px;
    width: 400px;
    height: 200px;
}
img.eigenplaatje {
  float: left;
    margin: 15px;
    width: 400px;
    height: 200px;
    }

img.zweefrechts {
  float: right;
  margin-right: 15px;
}

{ 
  border: solid 2px black;
overflow: auto;
margin: 0px;
box-size: border-box;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #23b123be;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(235, 69, 18);
}




